body {
    background-image: url(/Nesrine-Aziz/mainpage/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.image {
    border-radius: 8%;
    /* size: 20%; */
    width: 150%;
}


.centercontainer {
    text-align: center;
    padding: 10px 20px;


}

.center {
    background-color: aliceblue;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    /* opacity: ; */
}

.img-container{
    width: 200px;
    height: 200px;
}
#CENTERS{
    width: 40%;
    margin: auto;
}
h1{
    text-align: center;
    font-family: "Amita"
}
footer {
    text-align: justify;
    padding: 3px;
    background-color: grey ;
    color: white;
  }
  .home{
    background-color: white;
    border: none;
    color: grey;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.home:hover{
    background-color: lightgray;
}
#search{
    border-radius: 6px;
    width:15% ;
    height: 20px;
}
#book{
    height: 43px;
    margin: 10px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
     
}
#book:hover{
    background-color: lightgrey;

}
.about-us {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: grey;
    color: white;
    padding: 3px;
    height: 200px;
}
.name{
    font-family:Amita ;
}
.descr{
    font-family: 'Roboto', sans-serif;
}

.head .myhead .home{
    width: 40px;
    height: 40px;
}
.head .myhead{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head .myhead .btn{
    display: flex;
    justify-content: center;
    align-items: center;


}
.head .myhead h1{
 color: white;
 margin: 0 auto;
}

.joke{
    font-size:small;
    font-style: italic;
    font-family: Amita;
}
